<table  bgcolor="#eeeeee" class="tbl520" style="border: 1px solid #cccccc;">
     <form method="POST" action="ratefile.php">
     <input type="hidden" name="lid" value="<{$article.articleid}>">
       <tr>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="1" border="0">1</td>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="2" border="0">2</td>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="3" border="0">3</td>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="4" border="0">4</td>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="5" border="0">5</td>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="6" border="0">6</td>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="7" border="0">7</td>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="8" border="0">8</td>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="9" border="0">9</td>
         <td align="center" valign="bottom" width="10"><input type="radio" name="rating" value="10" border="0">10</td>
         <td align="center" valign="top" width="20"><input type="submit" name="submit" value="<{$lang_rating1}>"></td>
       </tr>
     </form>
     </table>