<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-TW" lang="zh-TW">
<head>
<title><{$intro_title}></title>
<style>
body {color: #444444; background-image: url('images/bg.gif'); 
      font-size: 8pt; 
      font-family: Arial, Helvetica;}
</style>
</head>
<body leftmargin="0" topmargin="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="./images/intro_bg.gif"><img src="./images/<{$img_title}>"></td>
  </tr>
  <tr height="10" bgcolor="#99BE42">
    <td> </td>
  </tr>
  <tr>
    <td style="padding: 20px;" bgcolor="#DFE6CE">
      <table width="80%" align="center" cellspacing="0" cellpadding="0" style="border: 1px dashed #666666; background-color: #ffffff;">
        <tr>
          <td colspan="2" style="padding: 5px; background-color: #769C1C; color: #ffffff;"><{$lang_title}> <{$intro_title}></td>
        </tr>
        <tr>
          <td colspan="2" style="padding: 10px; color: #769C1C;"><{$intro_text}></td>
        </tr>
        <tr>
          <td style="padding: 5px;" align="center"><{$copyright}></td>
          <td style="padding: 5px;" align="right"><a href="javascript:;" onclick="window.print()"><img src="./images/print.gif" border="0" alt="" /></a><a target="_top" href="<{$mail_link}>"><img src="./images/friend.gif" border="0" alt="" /></a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr bgcolor="#E5E5E5">
   <td align="right" valign="middle"><a href="#" onclick="window.close();"><img src="./images/close.gif" border="0"></a></td>
  </tr>
</table>
</body>