<table border="0" cellpadding="0" cellspacing="0" width="100%" class="review_tbl">
  <{if $reviews.desc1 != ''}>
  <tr>
    <td class="review_desc"><span class="review_title"><{$reviews.title1}></span> <{$reviews.desc1}></td>
  </tr>
  <{/if}>
  <{if $reviews.desc2 != ''}>
  <tr>
    <td class="review_desc"><span class="review_title"><{$reviews.title2}></span> <{$reviews.desc2}></td>
  </tr>
  <{/if}>
  <{if $reviews.desc3 != ''}>
  <tr>
    <td class="review_desc"><span class="review_title"><{$reviews.title3}></span> <{$reviews.desc3}></td>
  </tr>
  <{/if}>
  <{if $reviews.desc4 != ''}>
  <tr>
    <td class="review_desc"><span class="review_title"><{$reviews.title4}></span> <{$reviews.desc4}></td>
  </tr>
  <{/if}>
  <{if $reviews.desc5 != ''}>
  <tr>
    <td class="review_desc"><span class="review_title"><{$reviews.title5}></span> <{$reviews.desc5}></td>
  </tr>
  <{/if}>
  <{if $reviews.desc6 != ''}>
  <tr>
    <td class="review_desc"><span class="review_title"><{$reviews.title6}></span> <{$reviews.desc6}></td>
  </tr>
  <{/if}>
</table>